---
export const prerender = false;
import { timeAgo } from "./time-formatting";

const getCoverAlt = (name: string, artist: string): string =>
    `Cover art for ${name} by ${artist}`;

const trackName: string = Astro.props.trackName;
const artistName: string = Astro.props.artistName;
const coverImageUrl: string = Astro.props.coverImageUrl;
const playedAt: string = Astro.props.playedAt;
---

<style>
    .spotifyTrackCard {
        position: relative;
        width: 250px;
        margin: 0.5em;
        padding-top: 0.9em;
        border-radius: 8px;
        background-color: var(--light-background-color);

        display: flex;
        flex-direction: column;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .spotifyTrackCard > img {
        margin: 0 auto;
        border-radius: 8px;
        pointer-events: none;

        /* Hide alt text until image loaded */
        color: var(--placeholder-background-color);
        background-color: var(--placeholder-background-color);
    }

    .spotifyTrackCard > div > h3,
    .spotifyTrackCard > div > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 1ch;
    }

    .spotifyTrackCard > p {
        position: absolute;
        top: -4px;
        right: 6px;
        color: var(--light-gray);
        font-size: 0.8em;
    }

    .spotifyTrackCard > img.loaded {
        visibility: visible;
    }
</style>

<script>
    document.querySelectorAll('.spotifyTrackCard > img').forEach((img) => {
        img.addEventListener('load', () => {
            img.classList.add('loaded');
        });
    })
</script>

<div class="spotifyTrackCard">
    <img
        src={coverImageUrl}
        width="120"
        height="120"
        alt={getCoverAlt(trackName, artistName)}
    />
    <div>
        <h3>{artistName}</h3>
        <p>{trackName}</p>
    </div>
    <p>{playedAt === "" ? "now" : timeAgo(Date.parse(playedAt))}</p>
</div>
