---
export const prerender = false;
import { timeAgo } from "./time-formatting";

const getCoverAlt = (name: string, artist: string): string =>
    `Cover art for ${name} by ${artist}`;

const trackName: string = Astro.props.trackName;
const artistName: string = Astro.props.artistName;
const coverImageUrl: string = Astro.props.coverImageUrl;
const playedAt: string = Astro.props.playedAt;
---

<style>
    /* Background */
    .spotifyTrackCard {
        --stc-border-length: 48px;
        --stc-border-width: 4px;
        --stc-border-color: var(--accent-secondary-06);
        background:
            linear-gradient(
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 0 / var(--stc-border-width) 100%,
            linear-gradient(
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                100% 0 / var(--stc-border-width) 100%,
            linear-gradient(
                    to right,
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 0 / 100% var(--stc-border-width),
            linear-gradient(
                    to right,
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 100% / 100% var(--stc-border-width);
        background-repeat: no-repeat;
    }

    .spotifyTrackCard {
        position: relative;
        width: 250px;
        margin: 0.5em;
        padding: 16px;

        display: flex;
        flex-direction: column;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .spotifyTrackCard * {
        /* outline: 1px solid pink; */
    }

    .spotifyTrackCard > img {
        margin: 0 auto;
        pointer-events: none;

        /* Hide alt text until image loaded */
        color: var(--placeholder-background-color);
        background-color: var(--placeholder-background-color);
    }

    .spotifyTrackCard > div > h3,
    .spotifyTrackCard > div > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding: 0 1ch;
        color: var(--light-text-color);
    }

    .spotifyTrackCard > p {
        position: absolute;
        top: 0px;
        right: 16px;
        color: var(--light-gray);
        font-size: 0.8em;
    }

    .spotifyTrackCard > img.loaded {
        visibility: visible;
    }
</style>

<script>
    document.querySelectorAll(".spotifyTrackCard > img").forEach((img) => {
        img.addEventListener("load", () => {
            img.classList.add("loaded");
        });
    });
</script>

<div class="spotifyTrackCard">
    <img
        src={coverImageUrl}
        width="120"
        height="120"
        alt={getCoverAlt(trackName, artistName)}
    />
    <div>
        <h3>{artistName}</h3>
        <p>{trackName}</p>
    </div>
    <p>{playedAt === "" ? "now" : timeAgo(Date.parse(playedAt))}</p>
</div>
